html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
}

@font-face {
  font-family: "TTLakes";
  src: local("TTLakes-Regular"),
    url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTLakes";
  src: local("TTLakes-Bold"),
    url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTLakes";
  src: local("TTLakes-Medium"),
    url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "TTLakes", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #1B1C21;
  background: #F8F8F8;
}

.page-header__nav {
  margin-bottom: 24px;
}

.nav__menu-buttons {
  display: flex;
  align-items: center;
}

.nav__button {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.nav__button--burger {
  background: url(../img/burger.svg);
}

.logo__img {
  width: 97px;
  height: 51px;
}

.nav__corner-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav__button--repair {
  background: url(../img/repair.svg);
  margin-right: 16px;
}

.nav__button--status {
  background: url(../img/status.svg);
}

.header__title {
  color: #1B1C21;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  background: url(../img/highlight.svg) no-repeat;
}

.info__list {
  display: flex;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.info__list::-webkit-scrollbar {
  width: 0;
}

.info__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  white-space: nowrap;
}

.info__button--active {
  padding: 8px 22px;
  border: 2px solid #B8FFEC;
  background: #fff;
}

.info__link {
  display: none;
  color: #7E7E82;
}

.description-area__paragraph {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.description-area__opener-button {
  padding-left: 16px;
  color: #1B1C21;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background: url(../img/opener-icon.svg) no-repeat left center;
}

.description-area__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description-area__container {
  display: flex;
  align-items: flex-start;
}

.info__button {
  color: #7E7E82;
}

.tablet-buttons {
  display: none;
}

.nav__button--call {
  background: url(../img/call.svg);
}

.nav__button--chat {
  background: url(../img/chat.svg);
}

.nav__button--profile {
  background: url(../img/profile.svg);
}

.corner-button__text {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100%;
  }

  .nav__area {
    display: flex;
    align-items: center;
    padding: 24px 16px;
    background: #fff;
    border-bottom: 1px solid #D9FFF5;
  }

  .nav__button--burger {
    margin-right: 17px;
  }

  .logo__link::after {
    content: "";
    position: absolute;
    top: 28px;
    left: 186px;
    height: 32px;
    border-left: 2px solid #EAEAEA;
    cursor: auto;
  }

  .nav__button-text {
    display: none;
  }

  .header__title {
    padding-left: 16px;
  }

  .page-header {
    margin-bottom: 24px;
  }

  .choose-list {
    margin-bottom: 24px;
  }

  .choose-list__container {
    padding-left: 16px;
  }

  .info__list-item:not(:last-child) {
    margin-right: 20px;
  }

  .description-area__text {
    height: 140px;
    overflow: hidden;
    margin-bottom: 16px;
  }

  .description-area__paragraph:first-child {
    margin-bottom: 16px;
  }

  .description-area__content {
    margin-bottom: 16px;
  }

  .description-area__container {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }
}

@media (min-width: 768px) and (max-width: 1119px) {
  .container {
    width: 100%;
  }

  .nav__area {
    display: flex;
    align-items: center;
    padding: 24px;
    background: #fff;
    border-bottom: 1px solid #D9FFF5;
  }

  .nav__button--burger {
    margin-right: 42px;
  }

  .nav__button--burger::after {
    content: "";
    position: absolute;
    top: 28px;
    left: 84px;
    height: 32px;
    border-left: 2px solid #EAEAEA;
    cursor: auto;
  }

  .nav__corner-buttons {
    margin-left: 42px;
  }

  .nav__button-text {
    display: none;
  }

  .tablet-buttons {
    display: block;
    margin-left: auto;
  }

  .tablet-buttons::after {
    content: "";
    position: absolute;
    top: 28px;
    right: 140px;
    height: 32px;
    border-left: 2px solid #EAEAEA;
  }

  .tablet-buttons__button:not(:last-child) {
    margin-right: 16px;
  }

  .page-header {
    margin-bottom: 32px;
  }

  .info__list-item:not(:last-child) {
    margin-right: 16px;
  }

  .header__title {
    padding-left: 24px;
  }

  .choose-list {
    margin-bottom: 32px;
  }

  .choose-list__container {
    padding-left: 24px;
  }

  .description-area__content {
    margin-right: 48px;
  }

  .description-area__container {
    display: flex;
    align-items: flex-start;
    padding-left: 24px;
  }

  .description-area__text {
    width: 320px;
    height: 190px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .description-area__paragraph:first-child {
    margin-bottom: 24px;
  }

  .description-area__img {
    width: 360px;
  }
}

@media (min-width: 1120px) {
  .container {
    width: 1070px;
    margin: 0 auto;
  }

  .page-header {
    margin-bottom: 8px;
  }

  .page-header-container {
    padding-top: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__area {
    display: flex;
    align-items: center;
    padding: 24px 16px;
  }

  .nav__menu-buttons {
    display: none;
  }

  .page-header__nav {
    order: 2;
  }

  .nav__corner-buttons:first-child {
    margin-right: 32px;
  }

  .header__title {
    order: 1;
    background: inherit;
  }

  .page-header::before {
    content: "";
    display: block;
    position: absolute;
    top: 42px;
    width: 4px;
    height: 40px;
    background: url(../img/highlight.svg);
  }

  .nav__area {
    padding: 0;
  }

  .corner-button {
    width: auto;
    padding-right: 48px;
    background-repeat: no-repeat;
    background-position: right;
  }

  .corner-button__text {
    display: block;
    font-size: 16px;
    font-weight: 500;
  }

  .page-header__nav {
    display: flex;
    margin: 0;
  }

  .choose-list {
    margin-bottom: 19px;
  }

  .info__list {
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .info__link {
    display: block;
    margin-left: 24px;
  }

  .description-area__text {
    width: 490px;
    margin-bottom: 14px;
  }

  .description-area__paragraph:first-child {
    margin-bottom: 27px;
  }

  .description-area__content {
    margin-right: 36px;
  }
}

/* Mobile menu */

.mobile-menu {
  background-color: #fff;
  width: 320px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.mobile-menu .nav__menu-buttons {
  display: flex;
}

.mobile-menu .nav__button--burger::after {
  display: none;
}

.mobile-menu .container {
  width: 100%;
}

.mobile-menu .logo__link::after {
  display: none;
}

.mobile-menu-header {
  margin-bottom: 47px;
}

.mobile-menu .nav__area {
  padding: 23px 24px 0;
  border: none;
  justify-content: space-between;
}

.mobile-menu .nav__button--burger {
  background: url(../img/close.svg);
  margin-right: 17px;
}

.nav__button--search {
  background: url(../img/search.svg);
}

.categories__list {
  display: flex;
  flex-direction: column;
}

.categories__item {
  display: flex;
  align-items: center;
  padding-left: 24px;
  height: 32px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.categories__item:not(:last-child) {
  margin-bottom: 28px;
}

.categories__list .active {
  color: #7E7E82;
  background: url(../img/highlight-menu.svg) no-repeat left center;
}

.categories__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.categories__item:not(.active):hover {
  background: linear-gradient(90deg, rgba(215,215,219,1) 0%, rgba(226,226,233,1) 47%, rgba(255,255,255,1) 100%);
}

.categories__item:not(.active):hover .categories__button {
  transition-duration: 300ms;
  transform: scale(1.1);
}

.mobile-menu__main {
  margin-bottom: 270px;
}

.contacts__container {
  padding-left: 24px;
  padding-bottom: 32px;
}

.contacts__buttons {
  display: block;
  font-size: 0;
  margin-bottom: 16px;
}

.contacts .tablet-buttons__button:not(:last-child) {
  margin-right: 16px;
}

.contacts__address {
  display: flex;
  flex-direction: column;
  font-style: inherit;
  margin-bottom: 40px;
}

.contacts__link--mail {
  margin-bottom: 12px;
}

.contacts__link--phone {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
}

.language__list {
  display: flex;
}

.language__item {
  font-size: 16px;
  font-weight: 500;
}

.language__item:not(:last-child) {
  margin-right: 7px;
}

.language .active {
  color: #7E7E82;
}
